<div>
    <hr/>
    This article was posted on {{ date }}. Details may have changed since publication.
    Please <a href="/contact/">contact me</a> if you have concerns about accuracy or any questions.
</div>