<div>
    <hr/>
    <footer>
        <blockquote>
            <p>
                Copyright <span id="copyright-years">2022</span> Olivia Kaufman.
                The content herein exclusively represents my personal views and opinions and does not represent my
                employers or any other person or entity.
            </p>
        </blockquote>
        <p>
            Site theme and layout inspired by
            <a href="https://xeiaso.net/" target="_blank" rel="noopener noreferrer">this site</a>,
            using modified code from
            <a href="https://github.com/Xe/site/tree/e4786467dfc7ec770d4b18e46ee52d2d71f11ba9" target="_blank" rel="noopener noreferrer">this git repository</a>.
        </p>
        <p>
            <a href="https://github.com/akaritakai/www.akaritakai.net" target="_blank">View the source code</a>
            that generates this site.
        </p>
    </footer>
</div>
